<div class="panel panel-default">
  <div class="panel-body">
    <h3>Welcome, {{currentUser.username}}</h3><br>
    <h4>Your referral link is <a href="http://localhost:3000/referredby/{{link}}">http://localhost:3000/referredby/{{link}}</a></h4><br>
    <h5>Share this link with your friends to ponvert them</h5>
  </div>
</div>
<h4>Here are your ponz points: {{points}}</h4>
